doctype html
html
    head
        title #{community} 参加登録ページ
        meta(name="viewport" content ="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
        meta(name="description",content="Slackで活動している「Unityユーザーグループ」の参加登録ページです。")
        meta(property="og:title",content="Unityユーザーグループ参加登録ページ")
        meta(property="og:type",content="website")
        meta(property="og:image",content="https://unityuserj-slack-invite.herokuapp.com/images/logo-small.png")
        meta(property="og:description",content="Slackで活動している「Unityユーザーグループ」の参加登録ページです。")
        meta(property="og:url",content="https://unityuserj-slack-invite.herokuapp.com/")
        meta(property="og:locale",content="ja_JP")
        meta(name="twitter:card",content="summary")
        meta(name="twitter:url",content="https://unityuserj-slack-invite.herokuapp.com/")
        meta(name="twitter:title",content="Unityユーザーグループ参加登録ページ")
        meta(name="twitter:image",content="https://unityuserj-slack-invite.herokuapp.com/images/logo-small.png")
        meta(name="twitter:description",content="Slackで活動している「Unityユーザーグループ」の参加登録ページです。")
        link(rel='stylesheet', href='/css/skyblue.min.css')
        link(rel='stylesheet', href='/css/style.css')
    body


        div.container
            h1 #{community} へようこそ
            div.margin-top-50

            h3 このページは何？

            div
                ul
                    li
                        a(href="https://slack.com", target="_blank") Slack
                        span で活動している「#{community}」の参加登録ページです。
                    li ここでメールアドレスを登録することでグループへの招待メールが届きます。
                    li.color-error #{community}は非公式のコミュニティグループです。
                    li
                        a(href="http://qiita.com/kyusyukeigo/items/7ad6fd51a14dc23935d1", target="_blank") このコミュニティについての使い方はこちらで紹介しています。
            hr


            form(method="POST", action="/invite")#join-form.offset-lg-3.lg-6
                h4 ユーザー登録をする
                input(type="email", name="email", placeholder="メールアドレスを入力してください" required='required')#slack-email.form-control
                div
                    input(type="text", name="first_name", placeholder="First name")#slack-email.form-control
                    input(type="text", name="last_name", placeholder="Last name")#slack-email.form-control
                button.btn.float-right 送信
        footer.footer
            img(src="/images/logo.png")
        script.
            var form = document.getElementById('join-form');
            var email = document.getElementById('slack-email')
            form.addEventListener('submit', function (evt) {
                if (!email.value) {
                    evt.preventDefault();
                }
            });
